<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">

      <!-- One -->
      <section id="one">
        <div class="image main" data-position="center">
          <img src="/images/ech.jpg" alt="" />
        </div>
        {{!-- <div class="container">
          <header class="major">
            <h2>Read Onlyy</h2>
            <p>Just an incredibly simple responsive site<br />
              template freebie by
              <a href="http://html5up.net">HTML5 UP</a>.</p>
          </header>
          <p>Faucibus sed lobortis aliquam lorem blandit. Lorem eu nunc metus
            col. Commodo id in arcu ante lorem ipsum sed accumsan erat praesent
            faucibus commodo ac mi lacus. Adipiscing mi ac commodo. Vis aliquet
            tortor ultricies non ante erat nunc integer eu ante ornare amet
            commetus vestibulum blandit integer in curae ac faucibus integer
            non. Adipiscing cubilia elementum.</p>
        </div> --}}
      </section>

      

      <!-- Five -->

      <section id="five">
        
        <div class="container">
          {{postdetail.date}} <br>
          <h3>{{postdetail.title}}</h3>          
          <section>
            
            {{!-- <h5>Left &amp; Right</h5> --}}
            <p><span class="image left"><img
                  src="{{postdetail.image}}"
                  alt="" style="width: 300px;"
                /></span>{{postdetail.content}}</p>
            <p><span class="image right"><img
                  src="{{postdetail.image}}"
                  alt="" style="width: 300px;"
                /></span>{{postdetail.content}}</p>
          </section>

        </div>
        
      </section>

    </div>

  </div>

</body>